.fit-parent {
  width: -webkit-fill-available;
}

.options {
  display: flex;
  gap: 8px;
}

.form {
  padding: 16px;
}

.list {
  overflow-y: scroll; 
}

.list-item {
  padding: 0px;
}

.list-container{}

.parent-container  {
  min-width: 150;
  overflow: hidden;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.scrollable-list {
  max-height: 100%;
  overflow-y: auto;
  padding: 8px;
  align-self: flex-start;
}

.list-item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-container {
  gap: 8px;
  flex-direction: row;
  display: flex;
}

.clear-button {
  background-color: #529ae3 !important;
}

.hide-form-control {
  display: none;
}

.title {
  text-align: center;
}