.fit-parent {
  width: -webkit-fill-available;
}

.form {
  padding: 16px 16px;
}

.card {
  background-color: #a9b1c7;
}

.title {
  font-size: 24px;
  text-align: center;
  font-weight: 600;
}

.button-container {
  margin-top: 16px;
}